.linkWithIcon {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1xs);
  align-items: center;
  font-size: var(--font-size-base);
  text-decoration-color: var(--brand);
}

.linkWithIcon.inline {
  font-size: var(--font-size-sm);
  color: var(--secondary-text-color);
}

.linkWithIcon svg {
  color: var(--brand);
  padding-top: 2px;
}
