.alert {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  border: var(--border-primary);
  padding: var(--spacing-base);
  border-radius: var(--border-radius-lg);
}

.info {
  border-color: var(--success-variant);
  background-color: var(--success);
  color: var(--primary-text-color);
}

.error {
  border-color: var(--error-variant);
  background-color: var(--error);
  color: var(--primary-text-color);
}
