:root {
  --color-primary-tint-1: #c1c2ff;
  --color-primary-tint-2: #8e78ff;
  --color-primary: #5822ec;
  --color-primary-shade-1: #4600ce;
  --color-primary-shade-2: #2f009a;

  --color-secondary-tint-1: #ffb3a5;
  --color-secondary-tint-2: #ff5847;
  --color-secondary: #c90000;
  --color-secondary-shade-1: #9c0000;
  --color-secondary-shade-2: #660000;

  --color-tertiary-tint-1: #acddae;
  --color-tertiary-tint-2: #4eb95b;
  --color-tertiary: #008527;
  --color-tertiary-shade-1: #005c00;
  --color-tertiary-shade-2: #003200;

  --background: #fdf4d3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fdf4d3;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
