/* ─── Variables ─────────────────────────────────────────────────────────────── */

:root {
  --color-primary-tint-1: #c1c2ff;
  --color-primary-tint-2: #8e78ff;
  --color-primary: #5822ec;
  --color-primary-shade-1: #4600ce;
  --color-primary-shade-2: #2f009a;

  --color-secondary-tint-1: #ffb3a5;
  --color-secondary-tint-2: #ff5847;
  --color-secondary: #c90000;
  --color-secondary-shade-1: #9c0000;
  --color-secondary-shade-2: #660000;

  --color-tertiary-tint-1: #acddae;
  --color-tertiary-tint-2: #4eb95b;
  --color-tertiary: #008527;
  --color-tertiary-shade-1: #005c00;
  --color-tertiary-shade-2: #003200;

  --color-quaternary-tint-1: #e4cb93;
  --color-quaternary-tint-2: #b78900;
  --color-quaternary: #c89600;
  --color-quaternary-shade-1: #6b3c00;
  --color-quaternary-shade-2: #401100;

  --color-neutral: #fdf4d3;
  --color-neutral-50: #f8f5eb;
  --color-neutral-100: #eae8de;
  --color-neutral-200: #ddd4b4;
  --color-neutral-300: #c0b898;
  --color-neutral-400: #9b9274;
  --color-neutral-500: #7a7254;
  --color-neutral-600: #635b3e;
  --color-neutral-700: #4f482c;
  --color-neutral-800: #3d351a;
  --color-neutral-900: #2b2617;
  --color-neutral-950: #1a1608;

  --brand: var(--color-primary-shade-1);
  --brand-variant: var(--color-secondary);
  --brand-variant-2: var(--color-quaternary);
  --brand-2: var(--color-secondary);
  --brand-3: var(--color-tertiary);

  --font-size-base: 18px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --spacing-base: var(--font-size-base);
  --spacing-1xs: calc(var(--spacing-base) * 0.25);
  --spacing-xs: calc(var(--spacing-base) * 0.5);
  --spacing-sm: calc(var(--spacing-base) * 0.75);
  --spacing-md: calc(var(--spacing-base) * 1.25);
  --spacing-lg: calc(var(--spacing-base) * 1.5);
  --spacing-xl: calc(var(--spacing-base) * 2);
  --spacing-1xl: calc(var(--spacing-base) * 2.5);
  --spacing-2xl: calc(var(--spacing-base) * 2.75);
  --spacing-3xl: calc(var(--spacing-base) * 3);
  --spacing-4xl: calc(var(--spacing-base) * 4);
  --spacing-5xl: calc(var(--spacing-base) * 5);
  --spacing-6xl: calc(var(--spacing-base) * 6);
  --spacing-7xl: calc(var(--spacing-base) * 7);
  --spacing-hg: calc(var(--spacing-base) * 10);
  --spacing-gt: calc(var(--spacing-base) * 14);

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-base: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-full: 9999px;

  --border-primary: 1px solid var(--color-neutral-200);
  --border-secondary: 2px solid var(--color-neutral-300);

  --shadow-color: 0deg 0% 0%;
  --shadow-base:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.11),
    0px 0.4px 0.5px -1.2px hsl(var(--shadow-color) / 0.11),
    0px 1px 1.1px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-md:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.09),
    0px 0.6px 0.7px -0.6px hsl(var(--shadow-color) / 0.09),
    0px 1.3px 1.5px -1.2px hsl(var(--shadow-color) / 0.09),
    0px 2.6px 2.9px -1.9px hsl(var(--shadow-color) / 0.09),
    0px 5px 5.6px -2.5px hsl(var(--shadow-color) / 0.09);
  --shadow-lg:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.09),
    0px 1.2px 1.3px -0.3px hsl(var(--shadow-color) / 0.09),
    0px 2.2px 2.5px -0.6px hsl(var(--shadow-color) / 0.09),
    0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.09),
    0px 4.9px 5.5px -1.1px hsl(var(--shadow-color) / 0.09),
    -0.1px 7.1px 8px -1.4px hsl(var(--shadow-color) / 0.09),
    -0.1px 10px 11.3px -1.7px hsl(var(--shadow-color) / 0.09),
    -0.1px 14.1px 15.9px -1.9px hsl(var(--shadow-color) / 0.09),
    -0.1px 19.3px 21.7px -2.2px hsl(var(--shadow-color) / 0.09),
    -0.2px 26.1px 29.4px -2.5px hsl(var(--shadow-color) / 0.09);

  --max-container-width: 768px;

  --blur: blur(20px);

  --background: var(--color-neutral);
  --background-variant: var(--color-neutral-100);
  --background-variant-2: var(--color-tertiary-tint-1);

  --foreground: var(--color-neutral-900);
  --foreground-variant: var(--color-neutral-700);
  --foreground-variant-2: var(--color-neutral-400);

  --primary-text-color: var(--foreground);
  --secondary-text-color: var(--foreground-variant);

  /* -- Layout -- */
  --sidebar-width: calc(var(--spacing-md) * 10);
  --header-height: calc(var(--spacing-3xl) + var(--spacing-xs));
}

/* ─── Theme ─────────────────────────────────────────────────────────────────── */

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: var(--color-neutral);
    --background-variant: var(--color-neutral-100);

    --foreground: var(--color-neutral-900);
    --foreground-variant: var(--color-neutral-700);
  }

  html {
    color-scheme: dark;
  }
}

:root[data-theme="dark"] {
  --brand: var(--color-primary-tint-2);
  --brand-variant: var(--color-quaternary);
  --brand-variant-2: var(--color-secondary-tint-2);
  --background: var(--color-neutral-950);
  --background-variant: var(--color-neutral-900);

  --foreground: var(--color-neutral);
  --foreground-variant: var(--color-neutral-300);
  --foreground-variant-2: var(--color-neutral-400);

  --border-primary: 1px solid var(--background-variant);
  --border-secondary: 2px solid var(--color-neutral-600);
}

/* ─── Reset ─────────────────────────────────────────────────────────────────── */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 7. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ─── Base ───────────────────────────────────────────────────────────────────── */

html {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  background: var(--background);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: calc(var(--spacing-1xs) * 0.75);
  text-decoration-color: var(--foreground-variant-2);
  font-weight: var(--font-weight-medium);
}

a:hover,
.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--brand-variant-2);
  color: var(--brand-variant);
}

a:hover svg,
.link:hover svg {
  stroke: var(--brand-variant-2);
}

.link2 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

p,
.body {
  color: var(--primary-text-color);
  font-size: var(--font-size-base);
}

p:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.body2 {
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-medium);
}

em {
  color: var(--brand-variant);
  font-style: italic;
  font-weight: var(--font-weight-semibold);
}

.emphasized {
  font-weight: var(--font-weight-bold);
}

.bodysmall {
  color: var(--secondary-text-color);
  font-size: var(--font-size-sm);
}

h1,
.heading1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

h2,
.heading2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.heading2variant {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

h3,
.heading3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

code,
pre {
  font-size: var(--font-size-sm);
  max-width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ─── Spacing Utilities ──────────────────────────────────────────────────────── */

.s-t-xxs {
  margin-top: var(--spacing-1xs);
}
.s-t-xs {
  margin-top: var(--spacing-xs);
}
.s-t-sm {
  margin-top: var(--spacing-sm);
}
.s-t-base {
  margin-top: var(--spacing-base);
}
.s-t-md {
  margin-top: var(--spacing-md);
}
.s-t-lg {
  margin-top: var(--spacing-lg);
}
.s-t-xl {
  margin-top: var(--spacing-xl);
}
.s-t-xxl {
  margin-top: var(--spacing-1xl);
}
.s-t-xxxl {
  margin-top: var(--spacing-2xl);
}

.s-b-xxs {
  margin-bottom: var(--spacing-1xs);
}
.s-b-xs {
  margin-bottom: var(--spacing-xs);
}
.s-b-sm {
  margin-bottom: var(--spacing-sm);
}
.s-b-base {
  margin-bottom: var(--spacing-base);
}
.s-b-md {
  margin-bottom: var(--spacing-md);
}
.s-b-lg {
  margin-bottom: var(--spacing-lg);
}
.s-b-xl {
  margin-bottom: var(--spacing-xl);
}
.s-b-xxl {
  margin-bottom: var(--spacing-1xl);
}
.s-b-xxxl {
  margin-bottom: var(--spacing-2xl);
}

.s-l-xxs {
  margin-left: var(--spacing-1xs);
}
.s-l-xs {
  margin-left: var(--spacing-xs);
}
.s-l-sm {
  margin-left: var(--spacing-sm);
}
.s-l-base {
  margin-left: var(--spacing-base);
}
.s-l-md {
  margin-left: var(--spacing-md);
}
.s-l-lg {
  margin-left: var(--spacing-lg);
}
.s-l-xl {
  margin-left: var(--spacing-xl);
}
.s-l-xxl {
  margin-left: var(--spacing-1xl);
}
.s-l-xxxl {
  margin-left: var(--spacing-2xl);
}

.s-r-xxs {
  margin-right: var(--spacing-1xs);
}
.s-r-xs {
  margin-right: var(--spacing-xs);
}
.s-r-sm {
  margin-right: var(--spacing-sm);
}
.s-r-base {
  margin-right: var(--spacing-base);
}
.s-r-md {
  margin-right: var(--spacing-md);
}
.s-r-lg {
  margin-right: var(--spacing-lg);
}
.s-r-xl {
  margin-right: var(--spacing-xl);
}
.s-r-xxl {
  margin-right: var(--spacing-1xl);
}
.s-r-xxxl {
  margin-right: var(--spacing-2xl);
}

.brand {
  color: var(--brand);
}

.brand-2 {
  color: var(--brand-2);
}

.brand-3 {
  color: var(--brand-3);
}
