.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  padding: 0 var(--spacing-base) 0 var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom 0.3s ease; */
}

.left {
  display: flex;
  align-items: center;
  gap: var(--sidebar-width);
}

.right {
  display: flex;
  align-items: center;
  gap: var(--spacing-1xs);
}

.siteTitle {
  color: var(--brand);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.mobileHomeLink {
  display: none;
}

button.mobileMenuButton {
  display: none;
}

@media (max-width: 950px) {
  .header {
    backdrop-filter: var(--blur);
    border-bottom: var(--border-primary);
  }

  .mobileHomeLink {
    display: flex;
  }

  button.mobileMenuButton {
    display: inline-flex;
  }
}
