.footer {
  display: flex;
}

@media screen and (min-width: 950px) {
  .spacer {
    padding: 0 var(--spacing-base);
    border-right: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    width: var(--sidebar-width);
  }

  .footerMain {
    border-top: var(--border-primary);
    display: flex;
    flex: 1;
  }
}

div.footerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1xl);
  /*max-width: calc(var(--max-container-width) + 400px);*/
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--spacing-5xl);
}

.footerHomeLink {
  white-space: nowrap;
}

.footerHomeLink a {
  white-space: nowrap;
  margin-top: 0;
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  margin-bottom: var(--spacing-base);
}

.footerBox form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1xs);
}

.footerContent {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1xl);
}

.siteInfo {
}

div.siteInfo ul {
  flex-direction: column;
}

div.visitorCount {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-2xs) var(--spacing-1xs);
}

@media screen and (max-width: 950px) {
  .footerWrapper,
  .footerContent {
    flex-direction: column;
    gap: var(--spacing-xl);
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.footerLinks ul {
  /*flex-direction: row;*/
  gap: var(--spacing-sm);
}

.footerLinks a {
  font-size: var(--font-size-sm);
}

.footerCopyright {
  display: flex;
  align-items: center;
  align-self: center;
  gap: var(--spacing-1xs);
}

@media screen and (max-width: 950px) {
  .footer {
    padding: var(--spacing-md) var(--spacing-base);
    border-top: var(--border-primary);
  }

  .footerBox {
    width: 100%;
  }
}
