.lineItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .lineItem {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-1xs);
  }
}
