.inlineBox {
  display: inline;
  padding: var(--spacing-xxs);
  background-color: var(--background-variant);
  /* border: var(--border-primary); */
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-md);
  overflow-x: auto;
}
